Proyectos/snr-clientebus/META-INF/wsdl/BS_SAN_CO_ConsultaPoderes.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/co/consultapoderes/v1" xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/co/consultapoderes/consultarpoder/v1" xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/co/consultapoderes/obtenerpoder/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.supernotariado.gov.co/services/bachue/co/consultapoderes/v1">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/co/consultapoderes/consultarpoder/v1" schemaLocation="http://52.226.66.62:20202/WCContentIn/BS_SAN_CO_ConsultaPoderes?xsd=1"/>
              
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/co/consultapoderes/obtenerpoder/v1" schemaLocation="http://52.226.66.62:20202/WCContentIn/BS_SAN_CO_ConsultaPoderes?xsd=2"/>
      
    </schema>
  </wsdl:types>
  <wsdl:message name="ConsultarPoder_Request">
    <wsdl:part name="entrada" element="bachue1:entradaConsultarPoder"/>
  </wsdl:message>
  <wsdl:message name="ConsultarPoder_Response">
    <wsdl:part name="salida" element="bachue1:salidaConsultarPoder"/>
  </wsdl:message>
  
   <wsdl:message name="ObtenerPoder_Request">
    <wsdl:part name="entrada" element="bachue2:entradaObtenerPoder"/>
  </wsdl:message>
  <wsdl:message name="ObtenerPoder_Response">
    <wsdl:part name="salida" element="bachue2:salidaObtenerPoder"/>
  </wsdl:message>

  <wsdl:portType name="BS_SAN_CO_ConsultaPoderes">
    <wsdl:operation name="ConsultarPoder">
      <wsdl:input message="bachue:ConsultarPoder_Request"/>
      <wsdl:output message="bachue:ConsultarPoder_Response"/>
    </wsdl:operation>
    
  <wsdl:operation name="ObtenerPoder">
      <wsdl:input message="bachue:ObtenerPoder_Request"/>
      <wsdl:output message="bachue:ObtenerPoder_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="BS_SAN_CO_ConsultaPoderesSOAP12Binding" type="bachue:BS_SAN_CO_ConsultaPoderes">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultarPoder">
      <soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/co/consultapoderes/v1/ConsultarPoder"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="ObtenerPoder">
      <soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/co/consultapoderes/v1/ObtenerPoder"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>
  <wsdl:service name="BS_SAN_CO_ConsultaPoderes">
    <wsdl:port name="BS_SAN_CO_ConsultaPoderesPort" binding="bachue:BS_SAN_CO_ConsultaPoderesSOAP12Binding">
      <soap12:address location="http://52.226.66.62:20202/WCContentIn/BS_SAN_CO_ConsultaPoderes"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>