Proyectos/snr-clientebus/META-INF/wsdl/consultarhistorialsolicitudespagadas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions targetNamespace="https://www.supernotariado.gov.co/services/bachue/ee/consultahistorialsolicitudespagadas/v1" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="https://www.supernotariado.gov.co/schemas/bachue/ee/consultahistorialsolicitudespagadas/consultardetallesolicitud/v1" xmlns:WL5G3N2="https://www.supernotariado.gov.co/schemas/bachue/ee/consultahistorialsolicitudespagadas/buscarsolicitudes/v1" xmlns:WL5G3N3="https://www.supernotariado.gov.co/services/bachue/ee/consultahistorialsolicitudespagadas/v1" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap12/">
  <WL5G3N0:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ee/consultahistorialsolicitudespagadas/v1" xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/ee/consultahistorialsolicitudespagadas/consultardetallesolicitud/v1" xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/ee/consultahistorialsolicitudespagadas/buscarsolicitudes/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/consultahistorialsolicitudespagadas/consultardetallesolicitud/v1" schemaLocation="http://52.170.212.47:7016/services/ee/consultarhistorialsolicitudespagadas/v1?SCHEMA%2FExpuestosExternamente%2FConsultaHistorialSolicitudesPagadas%2FResources%2FSchemas%2FEE_CHSP_ConsultarDetalleSolicitud"/>
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/consultahistorialsolicitudespagadas/buscarsolicitudes/v1" schemaLocation="http://52.170.212.47:7016/services/ee/consultarhistorialsolicitudespagadas/v1?SCHEMA%2FExpuestosExternamente%2FConsultaHistorialSolicitudesPagadas%2FResources%2FSchemas%2FEE_CHSP_BuscarSolicitudes"/>
    </schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="ConsultarDetalleSolicitud_Request">
    <WL5G3N0:part element="WL5G3N1:entradaConsultarDetalleSolicitud" name="entrada"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarDetalleSolicitud_Response">
    <WL5G3N0:part element="WL5G3N1:salidaConsultarDetalleSolicitud" name="salida"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="BuscarSolicitudes_Request">
    <WL5G3N0:part element="WL5G3N2:entradaBuscarSolicitudes" name="entrada"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="BuscarSolicitudes_Response">
    <WL5G3N0:part element="WL5G3N2:salidaBuscarSolicitudes" name="salida"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="SBB_EE_ConsultaHistorialSolicitudesPagadas">
    <WL5G3N0:operation name="ConsultarDetalleSolicitud">
      <WL5G3N0:input message="WL5G3N3:ConsultarDetalleSolicitud_Request"/>
      <WL5G3N0:output message="WL5G3N3:ConsultarDetalleSolicitud_Response"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="BuscarSolicitudes">
      <WL5G3N0:input message="WL5G3N3:BuscarSolicitudes_Request"/>
      <WL5G3N0:output message="WL5G3N3:BuscarSolicitudes_Response"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="SBB_EE_ConsultaHistorialSolicitudesPagadasSOAP12Binding" type="WL5G3N3:SBB_EE_ConsultaHistorialSolicitudesPagadas">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="ConsultarDetalleSolicitud">
      <WL5G3N4:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/consultahistorialsolicitudespagadas/v1/ConsultarDetalleSolicitud" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="entrada" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="salida" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="BuscarSolicitudes">
      <WL5G3N4:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/consultahistorialsolicitudespagadas/v1/BuscarSolicitudes" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="entrada" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="salida" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="SBB_EE_ConsultaHistorialSolicitudesPagadasSOAP12BindingQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N3:SBB_EE_ConsultaHistorialSolicitudesPagadasSOAP12Binding" name="SBB_EE_ConsultaHistorialSolicitudesPagadasSOAP12BindingQSPort">
      <WL5G3N4:address location="http://10.0.0.27:7016/services/ee/consultarhistorialsolicitudespagadas/v1"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>