Proyectos/snr-clientebus/META-INF/wsdl/generacionsolicitud.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions targetNamespace="https://www.supernotariado.gov.co/services/bachue/ee/generacionsolicitud/v1" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="https://www.supernotariado.gov.co/schemas/bachue/ee/generacionsolicitud/generarsolicitud/v1" xmlns:WL5G3N2="https://www.supernotariado.gov.co/schemas/bachue/ee/generacionsolicitud/consultarestadosolicitud/v1" xmlns:WL5G3N3="https://www.supernotariado.gov.co/services/bachue/ee/generacionsolicitud/v1" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap12/">
  <WL5G3N0:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ee/generacionsolicitud/v1" xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/ee/generacionsolicitud/generarsolicitud/v1" xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/ee/generacionsolicitud/consultarestadosolicitud/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/generacionsolicitud/generarsolicitud/v1" schemaLocation="http://52.170.212.47:7016/services/ee/generacionsolicitud/v1?SCHEMA%2FExpuestosExternamente%2FGeneracionSolicitud%2FResources%2FSchemas%2FEE_GS_GenerarSolicitud"/>
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/generacionsolicitud/consultarestadosolicitud/v1" schemaLocation="http://52.170.212.47:7016/services/ee/generacionsolicitud/v1?SCHEMA%2FExpuestosExternamente%2FGeneracionSolicitud%2FResources%2FSchemas%2FEE_GS_ConsultarEstadoSolicitud"/>
    </schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="GenerarSolicitud_Request">
    <WL5G3N0:part element="WL5G3N1:entradaGenerarSolicitud" name="entrada"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="GenerarSolicitud_Response">
    <WL5G3N0:part element="WL5G3N1:salidaGenerarSolicitud" name="salida"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarEstadoSolicitud_Request">
    <WL5G3N0:part element="WL5G3N2:entradaConsultarEstadoSolicitud" name="entrada"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarEstadoSolicitud_Response">
    <WL5G3N0:part element="WL5G3N2:salidaConsultarEstadoSolicitud" name="salida"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="SBB_EE_GeneracionSolicitud">
    <WL5G3N0:operation name="GenerarSolicitud">
      <WL5G3N0:input message="WL5G3N3:GenerarSolicitud_Request"/>
      <WL5G3N0:output message="WL5G3N3:GenerarSolicitud_Response"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarEstadoSolicitud">
      <WL5G3N0:input message="WL5G3N3:ConsultarEstadoSolicitud_Request"/>
      <WL5G3N0:output message="WL5G3N3:ConsultarEstadoSolicitud_Response"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="SBB_EE_GeneracionSolicitudSOAP12Binding" type="WL5G3N3:SBB_EE_GeneracionSolicitud">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="GenerarSolicitud">
      <WL5G3N4:operation soapAction="https://www.supernotariado.gov.co/services/bachue/ee/generacionsolicitud/v1/GenerarSolicitud" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="entrada" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="salida" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarEstadoSolicitud">
      <WL5G3N4:operation soapAction="https://www.supernotariado.gov.co/services/bachue/ee/generacionsolicitud/v1/ConsultarEstadoSolicitud" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="entrada" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="salida" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="SBB_EE_GeneracionSolicitudSOAP12BindingQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N3:SBB_EE_GeneracionSolicitudSOAP12Binding" name="SBB_EE_GeneracionSolicitudSOAP12BindingQSPort">
      <WL5G3N4:address location="http://10.0.0.27:7016/services/ee/generacionsolicitud/v1"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>